* {
  margin: 0px;
  padding: 0px;
}

.headMain {
  height: 90px;
  width: 100%;
  background-color: #05595b;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.headerFunctions {
  display: flex;
  padding: 2rem;
}

.menu {
  background-color: #f9f9f9;
  width: 100%;
  height: 355px;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  background-image: url("src\icons\image 2.png");
  background-repeat: no-repeat;
  background-position: center;
}

.itemMenuPatient {
  height: 182px;
  width: 159px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10px;
}

.itemMenuDoctor {
  height: 182px;
  width: 159px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10px;
}

.itemMenuAppointment {
  height: 182px;
  width: 159px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10px;
}

a {
  color: black;
  size: 20px;
  margin-left: 50px;
  text-decoration: none;
}

.iconItemMenu {
  background-color: #d9d9d9;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 20px;
  margin-block-end: 15px;
}

.img {
  height: 100px;
  width: 100px;
}

.h3 {
  margin: 10px;
}

.user-name {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.nameUser {
  margin-right: 10px;
  color: #ffffff;
}

.buttonLogout {
  display: flex;
  align-items: center;
}

.crumb {
  display: flex;
  align-items: center;
  margin-left: 0px;
}

.containerMenu {
  width: 95%;
  margin: auto;
}

label {
  size: 25px;
  margin: 8px 5px 8px 5px;
}
