@import "@fontsource/kodchasan";
@import "@fontsource/jost";

* {
  margin: 0px;
  padding: 0px;
}

:root {
  background-color: #f6f6f6;
}

.header {
  max-width: 90%;
}

.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 90%;
  margin: 1rem;
}

#logo-first-name {
  color: #028f7b;
  font-family: "Kodchasan";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
}

#logo-last-name {
  color: #2a464f;
  font-family: "Kodchasan";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
}

.body {
  display: flex;
  margin: 5%;
  max-width: 90%;
}

.body-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.image-login {
  max-width: 90%;
  width: 600px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.image-login img {
  max-width: 90%;
  width: 600px;
  height: 400px;
}

.container-form-login {
  width: 600px;
  height: 400px;
  background-color: #02b39a;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 600px) {
  .image-login {
    width: 0px;
    height: 0px;
  }

  .image-login img {
    width: 0px;
    height: 0px;
  }

  .container-form-login {
    border-radius: 10px;
    
  }
}

.mb-3 {
  display: grid;
  justify-items: baseline;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-label {
  font-family: "jost";
  font-weight: 400;
  font-size: smaller;
  color: #ffff;
  line-height: 27px;
}

.form-control {
  background: #fefefe;
  border: 1px solid #2a464f;
  border-radius: 5px;
  box-sizing: border-box;
  width: 200px;
  height: 25px;
  padding: 10px;
  font-size: 10px;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 0 none;
  outline: 0;
}

.btn-primary {
  margin: 15px;
  background: #2a464f;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 5px;
  color: white;
  width: 100px;
  border: none;
  height: 25px;
  cursor: pointer;
}
