.container-profile{
    width: 95%;
    margin: auto;
}

.form-profile{
    background-color: #F9F9F9;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 10px;
}
/* .mb-3{
    display: grid;
    margin: 10px;
}

.form-control{
    background-color: #DDE5E4;
    border-radius: 10px;
    height: 35px;
    border: none;
    width: 300px;
}

.form_label{
    /* size: 20px; */
    margin: 15px;
    color: #000000;
} */

button{
    background-color: #05595B;
    border: none;
    border-radius: 10px;
    color: #F9F9F9;
    height: 30px;
    margin: 5px;
    width: 100px;
    cursor: pointer;
}

